# Configuration for MySQL
MYSQL_ROOT_PASSWORD=MYSQL_ROOT_PASSWORD_CHANGE_ME
MYSQL_DATABASE=MYSQL_DATABASE_CHANGE_ME
MYSQL_USER=MYSQL_USER_CHANGE_ME
MYSQL_PASSWORD=MYSQL_PASSWORD_CHANGE_ME

# Configuration for Django / Networking
DB_HOST=DB_HOST_CHANGE_ME
DB_PORT=DB_PORT_CHANGE_ME