.env
.env.[a-zA-Z0-9]*
!.env.example

*.sqlite3
*.db
/mysql_data/

__pycache__/
*.py[cod]
*$py.class
*.so
.Python

.venv/
venv/
ENV/
env/
/pip-wheel-metadata/

/static_root/
/media/

*.log
.logs/
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.mo
*.pot

.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
.DS_Store
Thumbs.db

infrastructure/todoapp/secrets.yaml
infrastructure/todoapp/charts/mysql/secrets.yaml